[user]
	name = Mariano Quevedo
	email = 12384762+marianoquevedo@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINbJqFuVvyPLFHEuPr4GpHc0gmiyc1TJEfW+B6tsgYcP
[init]
defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = true
[color]
	ui = true
[alias]
	lg = log --oneline --decorate --graph
	s = status
	co = checkout
	ci = commit
	br = branch
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
		# We wanna grab those pesky un-added files!
	# https://git-scm.com/docs/git-stash
	stash-all = stash save --include-untracked
	smain = !git checkout main && git pull origin main
	newb = "!f() { git checkout main && git pull origin main && git checkout -b \"$1\"; }; f"
[push]
	default = simple
	# "push the current branch back to the branch whose changes are usually integrated into the current branch"
	# "refuse to push if the upstream branch’s name is different from the local one"
	# https://git-scm.com/docs/git-config#git-config-pushdefault

  	followTags = true
	# Because I get sick of telling git to do it manually
	# https://git-scm.com/docs/git-config#git-config-pushfollowTags
[status]
  showUntrackedFiles = all
  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[help]
	autocorrect = 5
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
	template = ~/.stCommitMsg
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
